.screen {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(var(--theme-color-canvas) 14px, transparent 0),
    linear-gradient(90deg, transparent 14px, #373739 0);
  background-size: 15px 15px, 15px 15px;
  background-color: var(--theme-color-canvas);
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;

  .container {
    width: 3840px;
    height: 2160px;
    position: relative;

    .editor {
      width: 1920px;
      height: 1080px;
      position: absolute;
      transform-origin: 0 0;
      top: 50%;
      left: 50%;
      background-color: var(--color-editor-bg);
      overflow: hidden;
      transition: all 0.3s;

      .primitive {
        width: 100%;
        height: 100%;
        outline: none;
      }
    }
  }
}
