.header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px 0 12px;
  box-sizing: border-box;
  box-shadow: inset 0 -1px 0 var(--theme-color-canvas);
  border-bottom: 1px solid var(--theme-color-canvas);

  &-left {
    display: flex;
    align-items: center;
  }

  &-right {
    display: flex;
    align-items: center;
  }
}

.trigger {
  color: hsla(var(--theme-color),0.9);
  font-weight: bold;
}

.resize-box {
  display: flex;
  height: 32px;
  min-width: 70px;
  padding: 0 8px;
  background-color: var(--color-select-bg);
  border-radius: 6px;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s;

  &:hover {
    background-color: var(--color-select-bg-active);
  }

  .dropdown-item {
    display: flex;
  }
}

.resize-dropmenu {
  padding: 6px 0;
  background-color: var(--theme-color-canvas);

  .dropmenu-item {
    width: 100%;
    height: 32px;
    padding: 0 12px;
    box-sizing: border-box;

    &:hover {
      background-color: var(--theme-color-primary);
      color: var(--color-text);
    }

    .dropmenu-item-content {
      padding: 0 6px 0 12px;
      height: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 12px;
      }

      .icon {
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        font-size: 12px;
        background-color: rgba(0,0,0,0.06);
        margin-left: 60px;
      }
    }
  }
}
