.layers {
  width: 100%;

  .container {
    padding: 12px;

    .layerItem {
      width: 100%;
      height: 42px;
      padding: 6px;
      border-radius: 6px;
      margin-bottom: 6px;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      background-color: $regularBgColor;

      .imgCover {
        width: 30px;
        height: 30px;
        border-radius: 4px;
        overflow: hidden;
        margin-right: 12px;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
