.container {
  width: 240px;
  height: 100%;
  padding: 10px;
  background-color: #fff;
  display: flex;

  .primitives {
    width: 80px;
  }

  .item {
    width: 60px;
    height: 40px;
    border: 1px solid #ddd;
    cursor: grab;
    text-align: center;
    color: #000;
    font-size: 12px;
    padding: 2px 5px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
