.chart {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;

  .sider {
    width: 240px;
    overflow: hidden;
    display: flex;
    border-right: 1px solid $borderDefaultColor;
  }

  .container {
    width: calc(100% - 492px);
    height: 100%;
    z-index: 2;
    background-color: #fff;
    overflow: hidden;
    position: relative;
  }

  .config {
    width: 252px;
    height: 100%;
    border-left: 1px solid $borderDefaultColor;
  }
}
