@import './naive-theme.scss';

* {
  outline: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  cursor: default;
  user-select: none;
}

html,
body,
ul,
ol,
p,
dl,
dd,
dt {
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $regularText;
  font-weight: 500;
  font-size: 12px;
}

// SketchRule图标样式
#mb-ruler {
  .corner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-color: #fff;
  }

  .line {
    border-left: 1px solid $lightColor !important;
    border-top: 1px solid $lightColor !important;
  }

  .indicator {
    border-bottom: 1px solid $lightColor !important;
    border-left: 1px solid $lightColor !important;
  }
}
