.n-layout {
  background-color: #fff;
}

// tab 栏样式
.n-tabs-nav {
  padding: 0 12px 0 6px;
}

.n-tabs-tab__label {
  color: $regularText;
  font-weight: 600;
  font-size: 12px;
}

.n-tabs-tab-wrapper {
  padding: 0 6px;
}

.n-tabs-tab--active .n-tabs-tab__label {
  color: $primaryText;
}

.n-tabs-tab-pad {
  width: 12px !important;
}

// NCollapse 样式
.n-collapse {
  .n-collapse-item {
    line-height: 30px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;

    .n-collapse-item__header {
      font-size: 12px;
      padding: 0;

      .n-collapse-item-arrow {
        color: rgba(0, 0, 0, 0.33);
      }

      .n-collapse-item__content-wrapper .n-collapse-item__content-inner {
        padding: 0;
      }
    }
  }

  .n-collapse-item:not(:first-child) {
    border-top: none;
  }

  .n-collapse-item.n-collapse-item--active
    .n-collapse-item__header.n-collapse-item__header--active
    .n-collapse-item-arrow {
    color: $primaryText;
  }
}

.n-dropdown-option-body__label {
  font-size: 12px;
}

// 输入框样式
.n-input {
  font-size: 12px;
  text-align: left;
  background-color: $inputBgColor;
}

.n-form-item-label__text {
  font-size: 12px;
}

.n-input .n-input__border,
.n-input .n-input__state-border {
  border: none;
}

.n-color-picker {
  background-color: $inputBgColor;
}

.n-color-picker-trigger {
  border: none;
}

.n-base-selection .n-base-selection__border,
.n-base-selection .n-base-selection__state-border {
  border: none;
}

.n-base-selection .n-base-selection-label {
  background-color: $inputBgColor;
}

.n-input__prefix {
  color: $regularText !important;
  margin-right: 12px !important;
}

.n-input__input-el {
  color: $primaryText !important;
  font-weight: 500;
}

// 下拉选择框
.n-base-selection-input {
  font-size: 12px !important;
}

.n-base-select-option__content {
  font-size: 12px !important;
}

// 面包屑
.n-breadcrumb .n-breadcrumb-item {
  font-size: 12px;
}

// 菜单
.n-menu .n-menu-item-content::before {
  border-radius: 8px;
}

.n-menu-item-content-header {
  text-align: left;
  font-size: 13px;
  margin-top: 2px;
}
